{#once
<style>

.cmpt-action {
    font-family: "IBM_Plex_Mono";
    font-weight: 400;
    border-bottom: 2px dotted;
}

.cmpt-action:hover {
    svg {
        fill: var(--clr-primary);
    }

    color: var(--clr-primary);
    border-bottom: 2px solid;
    font-weight: 700;
    cursor: pointer;
}

.cmpt-action-icon {
    display: inline;
    fill: currentColor;
}

</style>
}

<span class="cmpt-action">
    <svg class="cmpt-action-icon" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512" width="12" height="12">
        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
    </svg>
    {#value body}
</span>
