<button class="cmpt-theme-switcher">{#include ./action.html body="Go light"}</button>

{#once <script defer>

const ThemeSwitchers = document.getElementsByClassName("cmpt-theme-switcher");

for (const switcher of ThemeSwitchers) {

    switcher.addEventListener("click", () => {
        const current_theme = document.body.dataset.theme;
        const new_theme = (current_theme === "dark") ? "light" : "dark";
        const new_text = (new_theme === "dark") ? "Go light" : "Go dark";

        switcher.querySelector(".cmpt-action-body").innerText = new_text;

        document.body.dataset.theme = new_theme;
    })
}

</script> }
